name: Deploy Logic
on:
  push:
    branches: main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: rigoberta-menchu

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build -t europe-west1-docker.pkg.dev/rigoberta-menchu/lorenzo-containers/lorenzo:latest ./web

      - name: Push Docker image
        run: |
          docker push europe-west1-docker.pkg.dev/rigoberta-menchu/lorenzo-containers/lorenzo:latest

  get-release-version:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.version.outputs.release_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get release version
        id: version
        run: |
          RELEASE_VERSION=$(git describe --tags --always | sed 's/\./-/g')
          echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT

  detect-web-changes:
    runs-on: ubuntu-latest
    outputs:
      web_changed: ${{ steps.changes.outputs.web_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Detect web changes
        id: changes
        run: |
          WEB_CHANGED=$(git diff --name-only HEAD^ HEAD | grep '^web/' || true)
          WEB_CHANGED=$([[ -n "$WEB_CHANGED" ]] && echo true || echo false)
          echo "web_changed=$WEB_CHANGED" >> $GITHUB_OUTPUT

  deploy-container:
    runs-on: ubuntu-latest
    needs:
      - build-and-push
      - get-release-version
      - detect-web-changes
    if: needs.detect-web-changes.outputs.web_changed == 'true'
    steps:
      - name: Auth Google cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
      - name: Deploy revision
        run: |
          gcloud run deploy lorenzo \
            --image=europe-west1-docker.pkg.dev/rigoberta-menchu/lorenzo-containers/lorenzo:latest \
            --region=europe-west1 \
            --allow-unauthenticated \
            --tag=${{ needs.get-release-version.outputs.release_version }}
          gcloud run services update-traffic lorenzo --to-latest --region=europe-west1